@media screen and (max-width: 1024px) {
  small {
    font-size: 10px;
  }

  .step2-information-name {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /* width: 25%; */
    width: 33.33%;
    word-break: break-all;
  }

  .step2-information-phone {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /* width: 25%; */
    width: 33.33%;
    word-break: normal;
  }

  .step2-information-email {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /* width: 25%; */
    width: 33.33%;
    word-break: normal;
  }

  .step2-information-dropphone {
    /* border: solid Orange; */
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    /* width: 100%; */
    float: none;
    word-break: normal;
  }
  .step2-information-dropname {
    /* border: solid Orange; */
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    float: none;
    word-break: normal;
  }

  .form-title {
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 10px;
    width: 25%;
    float: left;
  }

  .form-textarea {
    margin-top: 10px;
    padding-top: 10px;
    width: 70%;
    float: left;
  }

  .submit-notice h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  textarea {
    width: 340px;
  }

  .dropshipper-container {
    padding-left: 0px;
  }

  .dropshipper-validation {
    margin-left: 10px;
  }

  .dropshipper-name-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
  }

  .dropshipper-phone-container {
    margin-top: 20px;
    margin-left: 30px;
    width: 100%;
  }

  .step2-information-name {
    width: 40%;
  }

  .step2-information-phone {
    width: 40%;
  }

  .step2-information-email {
    width: 35%;
  }

  .step2-information-dropphone {
    width: 35%;
  }

  .step2-information-dropname {
    width: 35%;
  }

  .step2-hr {
    margin-top: 10px;
    margin-left: 45px;
    width: 80%;
  }

  .form-title {
    width: 100%;
  }

  .form-textarea {
    margin-left: 40px;
    width: 100%;
  }

  .submit-notice h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  textarea {
    width: 300px;
  }

  .buttons-container {
    margin-right: 20px;
  }

  .form-textarea {
    margin-left: 0px;
    width: 300px;
  }

  .dropshipper-container {
    padding-left: 0px !important;
  }

  .dropshipper-validation {
    margin-left: 0px;
  }

  .dropshipper-name {
    margin-left: 10px;
  }

  .dropshipper-phone {
    margin-left: 0px;
  }

  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .checkout-steps-indicators {
    width: 385px;
  }

  .checkout-steps-title {
    width: 100%;
  }

  .steps-indicators {
    width: 100%;
  }

  .steps-title {
    margin-right: 15px;
  }

  .information-form h3,
  h4,
  form {
    padding-left: 40px;
  }

  .form-content-container {
    margin-top: 100px;
    width: 100%;
  }

  .step2-form-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .step2-information-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .step2-information-name {
    width: 100%;
  }

  .step2-information-phone {
    width: 100%;
  }

  .step2-information-email {
    width: 100%;
  }

  .step2-information-dropphone {
    width: 100%;
  }

  .step2-information-dropname {
    width: 100%;
  }

  .step2-address-container {
    margin-left: 45px !important;
  }

  .step2-hr {
    margin-top: 10px;
    margin-left: 30px;
    width: 40%;
  }

  .form-title {
    padding-left: 10px;
    width: 100%;
  }

  .form-textarea {
    margin-left: 20px;
    width: 100%;
  }

  .submit-notice h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .buttons-container {
    margin-right: 20px;
  }

  textarea {
    width: 250px;
  }

  form {
    padding-left: 40px;
  }

  .checkout-steps .line {
    display: none;
  }

  .checkout-steps {
    width: 100%;
    height: 140px;
  }

  .checkout-steps-title {
    width: 100%;
    float: left;
  }

  .checkout-steps-indicators {
    width: 100%;
    float: left;
  }

  .steps-indicators {
    display: flex;
    justify-content: space-around;
  }

  .steps-title {
    margin-left: 20px;
    margin-right: 0px;
    display: block;
  }

  .steps-title span {
    font-size: 14px;
  }

  .steps-title-one {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .steps-title-two {
    margin-left: 25px !important;
    margin-right: 5px !important;
  }

  .steps-title-three {
    margin-left: 25px !important;
    margin-right: 5px !important;
  }

  .submit-notice h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .information-form {
    font-size: 12px;
    padding-left: 0px;
  }

  .buttons-container {
    margin-right: 20px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .information-form input,
  textarea {
    font-size: 12px;
  }

  textarea {
    width: 210px;
  }

  .dropshipper-container {
    padding-left: 0px !important;
  }

  .dropshipper-validation {
    margin-left: 0px;
  }

  .dropshipper-name {
    margin-left: 10px;
  }

  .dropshipper-phone {
    margin-left: 0px;
  }

  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .checkout-steps-indicators {
    width: 385px;
  }

  .checkout-steps-title {
    width: 100%;
  }

  .steps-indicators {
    width: 100%;
  }

  .steps-title {
    margin-right: 15px;
  }

  .information-form h3,
  h4,
  form {
    padding-left: 40px;
  }

  .form-content-container {
    margin-top: 70px;
    width: 100%;
  }

  .step2-form-container {
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .step2-information-container {
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .step2-information-name {
    width: 100%;
  }

  .step2-information-phone {
    width: 100%;
  }

  .step2-information-email {
    width: 100%;
  }

  .step2-information-dropphone {
    width: 100%;
  }

  .step2-information-dropname {
    width: 100%;
  }

  .step2-address-container {
    font-size: 12px;
    margin-left: 45px !important;
  }

  .step2-hr {
    margin-top: 10px;
    margin-left: 30px;
    width: 40%;
  }

  .form-title {
    padding-left: 10px;
    width: 100%;
  }

  .form-textarea {
    margin-left: 20px;
    width: 100%;
  }

  .form-textarea button {
    margin-top: 5px;
    width: 50%;
  }

  form {
    padding-left: 20px;
  }

  .checkout-steps .line {
    display: none;
  }

  .checkout-steps {
    width: 100%;
    height: 140px;
  }

  .checkout-steps-title {
    width: 100%;
    float: left;
  }

  .checkout-steps-indicators {
    width: 100%;
    float: left;
  }

  .steps-indicators {
    display: flex;
    justify-content: space-around;
  }

  .steps-title {
    margin-left: 13px;
    margin-right: 0px;
    display: block;
  }

  .steps-title span {
    font-size: 14px;
  }

  .steps-title-one {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .steps-title-two {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .steps-title-three {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .submit-notice h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
